@{
    ViewData["Title"] = "Upload movie";
    Layout = "_Layout";
}

<h2>Upload a new movie</h2>
<a href="#" class="btn btn-secondary my-2">Browse...</a>
<br />
<hr />
<h2>Previously uploaded movies</h2>